.footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.footer__logo-webstudio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.footer__logo-ws {
    color: var(--primary-white-color);
}

.footer__logospan {
    color: var(--accent-color);
}

.footer__address {
    margin-top: 20px;
    font-style: normal;
}

.footer-list__connect-us:hover,
.footer-list__connect-us:focus {
    color: var(--primary-white-color);
}

.footer-list__contacts-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__our-address {
    color: var(--primary-white-color);
}

.footer-list__contacts {
    margin-top: 9px;
}

.follow-us {
    margin-left: 70px;
}

.follow-us__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.follow-us__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-us__social-item {
    margin-right: 10px;

    &:last-child {
            margin-right: 0;
        }
}



.follow-us__social-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            background: var(--accent-color);
        }
}

.follow-us__social-icon {
    fill: var(--primary-white-color);
    transition-duration: 250ms;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.follow-us__social-link:hover .follow-us__social-icon,
.follow-us__social-link:focus .follow-us__social-icon {
    fill: var(--primary-white-color);
}


.footer-form {
    min-width: 570px;
    min-height: 86px;
    margin-left: 93px;
}

.footer-form__label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.footer-form__email {
    margin-top: 20px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px 16px;
    background: #2f303a;
}

.footer-form__follow-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    text-align: left;
}

.footer-form__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);
}

.footer-form__send-icon {
    fill: var(--primary-white-color);
    margin-left: 10px;
}