.header {
    border-bottom: 1px solid #ececec;
}

.header__div-nav {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar__logospan {
    color: var(--accent-color);
}

.navbar__logo-webstudio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.sitenav {
    display: flex;
    margin-left: 93px;
}

.sitenav__item:not(:last-child) {
    margin-right: 50px;
}

.sitenav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    color: var(--accent-color);
}
}



.sitenav__link--opened {
    position: relative;
    color: var(--accent-color);

    &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            display: block;
            width: 100%;
            height: 4px;
            background-color: #2196f3;
            border-radius: 2px;
        }
}



.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav__item+.auth-nav__item {
    margin-left: 50px;
}

.auth-nav__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
font-size: 14px;
    line-height: 1.1;
    color: var(--secondary-color);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            color: var(--accent-color);
        }
                &:hover .auth-nav__contacts-icon,
                &:focus .auth-nav__contacts-icon {
                    fill: var(--accent-color);
                }
}


.auth-nav__icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



