.ourmembers {
    background-color: #f5f4fa;
}

.ourmembers__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.ourmembers__list {
    display: flex;
}

.ourmembers__item {
    margin-right: 30px;
    text-align: center;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

        &:last-child {
                margin-right: 0;
            }
}



.about-member {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-member__name {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    font-weight: 500;
}

.about-member__profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondary-color);
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.social-list__item {
    margin-right: 10px;
    &:last-child {
            margin-right: 0;
        }
}



.social-list__link {
    width: 44px;
    height: 44px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
            &:focus {
                background: var(--accent-color);
            }
}

.social-list__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
    fill: var(--primary-white-color);
}